    <section style="margin: auto; display: flex; justify-content: center;">
        <form style="background-color: #1568dd;" action="/appi/productos" method="post">
            <div style="margin: 20px 0 20px;">
                <label for="Title"></label>
                <input type="text" placeholder="Nombre" name="Title">
            </div>
            <div style="margin: 20px 0 20px;">
                <label for="Price"></label>
                <input type="number"  placeholder="Precio" name="Price">
            </div>
            <div>
                <input type="file" name="thumbnail">
            </div>
            <div style="margin: 20px 0 20px;">
                <button style="cursor: pointer;">Agregar Producto</button>
            </div>
          </form>
    </section>
    