<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio Clase 9</title>
</head>
<body>
    <h1 style="color: red;">Este es el ejercicio de la case 9</h1>

    <main style="margin: auto; display: flex; justify-content: center;">

        <form action="/appi/productos" method="post">
            <div style="margin: 20px 0 20px;">
                <label for="Title"></label>
                <input type="text" placeholder="Title" name="Title">
            </div>
            <div div style="margin: 20px 0 20px;">
                <label for="Price"></label>
                <input type="number"  placeholder="Price" name="Price">
            </div>
            <div>
                <input type="file" name="thumbnail">
            </div>
            <div div style="margin: 20px 0 20px;">
                <button style="cursor: pointer;">Agregar Producto</button>
            </div>

        </form>
    </main>
</body>
</html>